.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Common style */
.btn-primary{
    background-color: #009bd6;
    font-size: 15px;
    font-weight: bold;
    width: 132px;
    height: 48px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    padding: 12px 36px;
}
.btn-primary:hover{
    background-color: black;
}

.blue{
  color: #009bd6;
}

body{
    background-color: rgba(89, 87, 126, 0.1);
}

/* Nav style */

.header{
    background-image: url(../styles/Hero-bg.png);
    height: 700px;
}

nav{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

.nav-logo{
    font-size: 38px;
    font-weight: 900;
}
 /* Banner-style */
.banner{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center
}

.banner-content{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    max-width: 905px;
    height: 152px;
}
.banner-btn{
    margin-top: 80px;
    width: 174px;
    height: 48px;
}

.cont1{
   margin-bottom: 0;
}
.cont2{
margin: 0;
}

/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* see-it section */
.see-it{
    display: flex;
    justify-content: space-between;
    padding-top: 115px;
}
.section-title{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 0;
}

.section-description{
    font-size: 24;
    font-weight: normal;
    color: rgba(37, 36, 50, 0.5);
    margin-top: 22px;
    margin-bottom: 22px;
}

.see-it-btn{
   width: 229px;
   height: 48px; 
}

.see-it-img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

/* User section */

.user{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 25px;
    padding: 50px 80px 50px 80px;
    text-align: center;
    margin-top: 115px;
}

.user-items{
    display: flex;
    justify-content: space-around;
}

.user-title{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 0;
}

.title{
    font-size: 80px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 0;
}

.subtitle{
    font-size: 25px;
    font-weight: 300;
    margin-top: 0;
}

/* review section */
.review-container{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.review{
    box-shadow: 5px 7px 10px;
    width: 25%;
    border-radius: 10px;
    padding: 10px;
}



.review-main-title{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}

.review-title{
    margin-bottom: 0;
}

.review-description{
    margin-top: 0;
}

.reviewer-img{
    display: flex;
    align-items: center;
}

.re-img{
    border-radius: 50%;
    margin-right: 5px;
}

.re-img-data h4{
    margin-bottom: 0;
}

.re-img-data p{
    margin-top: 0;
}

/* Focus section */
.focus{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 150px 70px 150px 70px;
    margin-top: 135px;
}
.focus-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.focus-title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0;
}

.focus-description{
    font-size: 20px;
    margin-top: 20px;
}

.focus-btn{
width: 195px;
height: 48px;
}

.focus-img{
    margin-top: 20px;
    border-radius: 50px;
}

/* Contact form section */

.contact{
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-top: 80px;
    padding: 50px 150px 14px 150px;
}
.contact-title{
    font-size: 75px;
    font-weight: bold;
    justify-content: center;
}

.contact-me{
   display: flex;
   justify-content: center;
}


.contact-form input[type="text"], .contact-form input[type="email"]{
    height: 70px;
    border-radius: 10px;
    background-color: #c7efff;
    width: 100%;
    display: block;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
}
.contact-form textarea{
    border-radius: 10px;
    background-color: #c7efff;
    width: 100%;
    display: block;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
}

.form-btn{
    border-radius: 10px;
    width: 300px;
    display: block;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
}



