.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Common style */
.btn-primary{
    background-color: #009bd6;
    font-size: 15px;
    font-weight: bold;
    width: 132px;
    height: 48px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    padding: 12px 36px;
}
.btn-primary:hover{
    background-color: black;
}

.blue{
  color: #009bd6;
}

/* Nav style */

.header{
    background-image: url(../styles/Hero-bg.png);
    height: 700px;
}

nav{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

.nav-logo{
    font-size: 38px;
    font-weight: 900;
}
 /* Banner-style */
.banner{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center
}

.banner-content{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    max-width: 905px;
    height: 152px;
}
.banner-btn{
    margin-top: 80px;
    width: 174px;
    height: 48px;
}

.cont1{
   margin-bottom: 0;
}
.cont2{
margin: 0;
}

/* see-it section */
.see-it{
    display: flex;
    justify-content: space-between;
    margin: 110px 150px 0;
}
.section-title{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 0;
}

.section-description{
    font-size: 24;
    font-weight: normal;
    color: rgba(37, 36, 50, 0.5);
    margin-top: 22px;
    margin-bottom: 22px;
}

.see-it-btn{
   width: 229px;
   height: 48px; 
}

.see-it-img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
